// elements

*{
  box-sizing: border-box;
}
html{
  font-size:125%;
}
body{
  font-size: 1rem;
  line-height: 1.5;
  font-family: Diaria, serif;
  color: @black;
}

// titres

h1,
h2,
h3{
  font-family: Decour, serif;
  line-height: 1.2;
}
h1{

}
h2{

}
h3{

}

// margin-bottoms

p,
blockquote,
ul,
ol,
dl,
aside,
figure,
audio,
.video{
  margin-bottom:1.5rem;
}

// textes et listes

blockquote{

}

ul{
  list-style: disc inside;
}
ol{
  list-style: decimal inside;
}

dl{

}
dt{
  font-weight: bold;
}
dd{

}

.publication{
  font-style: italic;
}
.chapo{
  font-weight: bold;
}
.partage{
  list-style: none;
  li{

  }
  a{
    &:focus,
    &:hover{
      
    }
  }
}

// links

a{
  color: @primary;
  &:focus,
  &:hover{
    text-decoration: none;
  }
}

.plus{

}
.plus-papier{

}

// inlines

strong{
  font-weight: bold;
}
em,
cite{
  font-style: italic;
}

// media

img, audio, video, iframe{
  max-width: 100%;
  height:auto;
}

figure{

}
figcaption{

}

.galerie{

}

.video{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden;
}
.video iframe,
.video object,
.video embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// asides

aside{
  padding:1rem;
  background:#eee;
  h1{

  }
}

// articles connexes

.articles-connexes{
  .row();
  article{
    .init-col();
  }
  img{

  }
  h1{

  }
  p{

  }
}

// positionnements

.center{
  text-align: center;
}
.left{
  float:left;
}
.right{
  float:right;
}
.full-length{

}

// header

header{

}
.logo{

}
nav{
  ul{

  }
  li{

  }
  a{

  }
}

// main

main{

}
article{

}

// footer

footer{

}
