// elements

*{
  box-sizing: border-box;
}
html{
  font-size:125%;
}
body{
  font-size: 1rem;
  line-height: 1.5;
  font-family: sans-serif;
  color: @black;
}
h1, h2{
  line-height: 1.2;
}
h1{
  
}
h2{
  
}
p, ul ol{
  margin-bottom:1.5rem;
}
a{
  color: @primary;
  &:focus,
  &:hover{
    text-decoration: none;
  }
}
strong{
  font-weight: bold;
}
em{
  font-style: italic;
}

// media

img, audio, video, iframe{
  max-width: 100%;
  height:auto;
}

// form



// divers


// header

header{

}
.logo{
  
}
nav{
  ul{

  }
  li{
    
  }
  a{

  }
}

// main

main{

}

// footer

footer{
  
}
