<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Michel - Art, Culture & Société en Normandie</title>
  <link rel="stylesheet" type="text/css" media="all" href="{{ site.baseurl }}/css/main.css">
</head>
<body>
  <header>
    <div class="wrapper">
      <div class="logo">
        <a href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/fichiers/logo-michel.png" alt="Michel" width="250" height="80">
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="/index.html">Numéro Zéro</a></li>
          <li><a href="/pages/la-revue.html">La revue</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="wrapper">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
  </main>
  <footer>
    <div class="wrapper">
      <p>© Michel. <a href="/pages/mentions.html">Mentions légales</a>. <a href="/pages/contact.html">Contact</a>. <a href="/pages/partenaires.html">Partenaires</a>. </p>
    </div>
  </footer>
</body>
</html>
